doctype html
html
  head
    title Wikipedia Translator
    link(rel='stylesheet', type='text/css', href='/styles.css')
    link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    script(src='https://code.jquery.com/jquery-2.0.3.min.js')
    block head

  body
    section
      block content