extends layout

block content

  h1= query

  ul.translations
    each t in translations
      li
        h2
          a(href=t.href)= t.word
          if wikipedias[t.lang]
            span.lang= wikipedias[t.lang].language