*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

body
  font-family Lato, sans-serif
  font-weight 400
  margin 0
  padding 0
  padding 0
  background green
  color white

ul
  &.translations
    margin 0
    padding 20px
    list-style none
    float none
    clear both
    overflow hidden
    & > li
      margin 0
      padding 20px 10px
      width 280px
      float left

a
  color white
  text-decoration none
  &.lang
    line-height 1
    display block
    color rgba(white, 0.5)
    font-size 14px
    padding-top 5px

h1
  text-align center
  color white
  font-size 140px
  font-weight 700
  line-height 1
  margin 30px 0 20px 0
  padding 0
  text-transform uppercase

h2
  line-height 1
  font-size 24px
  margin 0
  padding 0

form
  &.embedded
    background green
    padding 20px
    input
      font-family Lato, sans-serif
      font-size 24px
      font-weight 700
      max-width 300px
      margin 0 20px 0 0
      padding 6px
      outline none
      border none
      background white
      border-radius 4px
      color black
      font-size 36px
      max-width 100%
    select
      width 100%
      margin-top 20px

  &.splash
    input
      font-family Lato, sans-serif
      font-size 32px
      font-weight 700
      border 5px solid green
      border-radius 10px
      outline none
      margin 50px auto 0 auto
      padding 10px
      width 100%
      max-width 480px
      display block
      text-align center
      font-size 18px
    select
      display block
      position relative
      margin 20px auto

footer
  margin 80px 0 50px 0
  padding 0 20px
  p
    font-size 18px
    line-height 1.5
    color rgba(white, 0.6)
    font-weight 400
    margin 0 auto
    max-width 480px
    a
      text-decoration underline

@media (max-width:640px)
  h1
    font-size 112px

  form.splash
    padding 0 20px
